<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> Tasks/tasksForm}}
        </div>
        <div class="col-md-7">
            {{> Tasks/tasksList}}
        </div>
    </div>
</div>



